* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   background-color: #3D087B;
   font-family: 'Roboto', sans-serif;
}

main {
   width: 100%;
   height: 100vh;
   display: grid;
   place-items: center;
}

.main-section {
   width: 80%;
   height: 800px;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 800px;
   gap: 25px;
}

.sub-section1 {
   grid-column: 1/2;
   grid-row: 1/2;
   display: grid;
   grid-template-columns: 47.5% 50%;
   grid-template-rows: 100px 380px 100px 60px 70px;
   gap: 20px;
}

.part-1 {
   grid-column: 1/2;
   grid-row: 1/2;
   background-image: url(./clock_logo.png);
   background-repeat: no-repeat;
   width: 100%;
}

.part-2 {
   grid-column: 1/3;
   grid-row: 2/3;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #FFFFFF;
   border-radius: 15px;
}

.container {
   width: 95%;
}

.child {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.first {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-size: 20px;
   font-weight: 700;
   width: 45%;
   height: 50px;
   gap: 60px;
   color: #3D087B;
}

select {
   width: 330px;
   height: 50px;
   font-size: 15px;
   color: #3D087BDE;
   border: 1px solid #EDEDED;
   border-radius: 5px;
   padding: 10px;
   box-sizing: border-box;
}

.child1 {
   font-size: 40px;
   color: #C2C2C2;
   width: 95.6%;
   margin: auto;
}

.part-3 {
   grid-column: 1/3;
   grid-row: 3/4;
   color: #FFFFFF;
   background-color: #7046a1de;
   display: grid;
   place-items: center;
   font-size: 40px;
   border-radius: 15px;
   font-family: 'Lilita One', cursive;
   text-transform: uppercase;
}

.part-4 {
   grid-column: 1/2;
   grid-row: 4/5;
   display: grid;
   place-items: center;
   
}

button {
   width: 365px;
   height: 50px;
   background: none;
   border: none;
   font-size: 25px;
   color: #FFFFFF;
   font-weight: 600;
   background-color: green;
   background-image: linear-gradient(113deg, #6E54EC 5%, #CB52F8, #FC5EFF 100%, #F1A7C5);
   border-radius: 5px;
}

button::after {
   content: 'Set Alarm';
}

button:hover::after {
   content: 'Party time!';
}

button:hover {
   background-image: linear-gradient(113deg, #F1A7C5, #FC5EFF 50%, #CB52F8, #6E54EC 100%);
}

.part-5 {
   grid-column: 2/3;
   grid-row: 4/6;
   color: #F25CFE;
   font-size: 19px;
   line-height: 30px;
   display: grid;
   place-items: center;
   background-color: #7046a1de;
   border-radius: 10px;
}

.timing {
   width: 90%;
}

.common {
   display: inline;
}

.sub-section2 {
   grid-column: 2/3;
   grid-row: 1/2;
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 150px 150px 300px;
   gap: 10px;
}

.section1 {
   grid-column: 1/2;
   grid-row: 1/2;
   display: grid;
   place-items: center;
   background-color: #FFFFFF;
   border-radius: 15px;
   z-index: 3;
}

.content1 {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 95%;
   box-sizing: border-box;
}

.content1 span {
   font-size: 40px;
   font-weight: bold; 
   color:#8A11BF;
}

.one {
   width: 10%;
   color: #3D087B;
   display: grid;
   place-items: center;
   font-size: 25px;
   font-weight: bold;
}

.two {
   width: 50%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 10px;
}

#hour, #min, #sec {
   background-image: url(./timeline.svg);
   text-align: center;
   padding: 20px;
   height: 95px;
}

.big {
   font-size: 32px;
   font-weight: 600;
   color: #8A11BF;
}

.small {
   font-size: 20px;
   font-weight: 600;
   color: #5F0089;
}

.three {
   background-image: url(./AM_svg.svg);
   background-size: cover;
   color: #FFFFFF;
   font-size: 35px;
   padding: 27px 20px;
   display: grid;
   place-items: center;
}

.content2 {
   width: 80%;
   height: 150px;
   margin: 0px auto;
   background-color: #F6E2FF;
   opacity: 0.5;
   border-radius: 15px;
   position: relative;
   bottom: 610px;
   z-index: 2;
}

.content3 {
   width: 60%;
   height: 150px;
   margin: 0px auto;
   background-color: #F6E2FF;
   opacity: 0.2;
   position: relative;
   bottom: 750px;
   border-radius: 15px;
   z-index: 1;
}

.section2 {
   height: 100px;
   margin-top: 45px;
   grid-column: 1/2;
   grid-row: 2/3;
   display: grid;
   place-items: center;
   color: #8E53F0;
   background-color: #FFFFFF;
   border-radius: 15px;
}

#greeting4 {
   font-size: 32px;
   text-transform: uppercase;
   text-align: center;
}

.section3 {
   grid-column: 1/2;
   grid-row: 3/4;
}

#image {
   background-repeat: no-repeat;
   background-size: cover;
   width: 750px;
   height: 470px;
   border-radius: 15px;
   margin-left: 10px;
}

@media screen and (max-width: 550px) {
   .main-section {
      width: 95%;
      height: 100vh;
      grid-template-columns: 100%;
   }
   .sub-section1 {
      grid-column: 1/2;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: 47.5% 50%;
      grid-template-rows: 100px 380px 100px 60px 70px;
      gap: 20px;
   }
   .sub-section2 {
      grid-column: 1/1;
      grid-row: 2/3;
   }
   .part-1 {
      background-size: contain;
   }
   .child1 {
      width: 95%;
   }
   .first {
      font-size: 15px;
      gap: 30px;
   }
   .first img {
      width: 30px;
      height: 30px;
   }
   select {
      width: 170px;
      font-size: 16px;
      text-align: center;
   }
   .part-2 {
      width: 100%;
   }
   .part-3 {
      font-size: 30px;
   }
   .part-4 {
      font-size: 22px;
   }
   .part-5 {
      font-size: 13px;
      line-height: 30px;
   }
   .section2 {
      font-size: 23px;
      font-weight: bold;
   }
   .section3 img {
      width: 100%;
      height: 280px;
   }
      
   .one {
      font-size: 18px;
   }
      
   .two {
      justify-content: flex-start;
      gap: 5px;
   }

   .two span {
      font-size: 15px;
   }
   
   #hour,
   #min,
   #sec {
      background-image: url(./timeline.svg);
      padding: 10px;
      height: 70px;
   }
   
   .big {
      font-size: 20px;
   }
   
   .small {
      font-size: 15px;
   }
   
   .three {
      font-size: 25px;
      height: 70px;
      padding: 10px;
      margin-left: 10px;
   }
   .content1 span {
      font-size: 30px;
   }

   button {
      width: 100%;
      font-size: 20px;
   }

   #image {
      width: 100%;
      height: 340px;
      margin-left: 0px;
   }
}

@media (min-width: 750px) and (max-width: 1200px) {
   .main-section {
      width: 95%;
      height: 100vh;
      grid-template-columns: 100%;
   }

   .sub-section1 {
      grid-column: 1/2;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: 47.5% 50%;
      grid-template-rows: 100px 380px 100px 60px 70px;
      gap: 20px;
      column-gap: 30px;
   }

   .sub-section2 {
      grid-column: 1/1;
      grid-row: 2/3;
   }

   .first {
      font-size: 24px;
   }

   select {
      width: 350px;
      font-size: 20px;
   }

   .part-5 {
      font-size: 20px;
   }

   button {
      width: 100%;
      font-size: 28px;
   }

   #image {
      width: 100%;
      margin-left: 0px;
   }
}